/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* header */
header {
  background-color: burlywood;
  height: 8vh;
  min-width: 50px;
}
.main-header {
  display: flex;
  justify-content: space-between;
}
.hamburger,
.close {
  color: royalblue;
  font-size: 1.5rem;
  text-align: center;
}
.hamburger {
  /* width: 100%; */
  padding-top: 0.5rem;
  padding-right: 50%;
  align-self: center;
}
.hamburger i:hover {
  color: hsl(225, 73%, 50%);
  font-size: 2.2rem;
}
.close {
  color: burlywood;
  background-color: royalblue;
}
.close:hover {
  background-color: hsl(225, 73%, 50%);
  color: #000;
}

nav {
  display: flex;
  flex-flow: column;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform 0.2 ease;
}
nav:target {
  transform: translateY(0);
}
nav ul {
  text-align: center;
}
nav li a {
  background-color: royalblue;
  color: #fff;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}
nav li a:hover {
  background-color: hsl(225, 73%, 50%);
  color: #000;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  color: royalblue;
  margin-left: 10px;
}
.logo:nth-child(1) {
  /* margin-right: -0.7rem; */
  margin-right: -0.3rem;
}
.logo:nth-child(2) {
  font-size: 2rem;
}

/* for small device */
@media only screen and (min-width: 675px) {
  header {
    margin: 0 auto;
    position: sticky;
    top: 0;
    min-height: 50px;
    height: 10vh;
  }
  nav {
    /* display: flex;
    flex-flow: row; */
    position: static;
    width: 100%;
    transform: translateY(0);
    align-self: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hamburger,
  .close {
    display: none;
  }
  .logo {
    font-size: 2.5rem;
  }
}

/* main */
main {
  margin: 7rem auto;
  padding: 3rem;
  text-align: center;
}
.divider {
  border-bottom: 3px solid rgb(42, 52, 56);
  width: 5%;
  margin: 3rem auto;
}
.scratched {
  text-decoration: line-through;
}
/* code */
.code {
  height: 50vh;
}

/* lorem section */
.lorem {
  background-color: aliceblue;
  height: fit-content;
  width: 100%;
  padding: 50px;
}
.lorem h3 {
  font-size: 2rem;
  padding: 1rem;
}
.lorem p {
  margin: 2rem 5rem;
  padding: 2rem;
}
